# Archivos de configuración local
config.local
.env.local
settings.json

# Logs de npm o yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias de Node.js
node_modules/

# Carpetas de distribución y compilación
dist/
build/
out/

# Archivos temporales
*.tmp
*.log
*.swp

# Archivos generados por editores
.vscode/
.idea/

# Archivos del sistema
Thumbs.db
.DS_Store

# Documentos generados automáticamente
*.docx
*.pdf
*.pptx


